h1, p {
  font-family: Lato;
}
.color-nav {
  background-image: linear-gradient(to right, rgb(30,40,70) , rgb(80, 110, 180));
  vertical-align: bottom;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}


.form{
  vertical-align: bottom;
  margin-top:auto;
  margin-bottom: auto;
}

.test {
  vertical-align: middle;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}


.example{
  color: white;
}
